:root {
    --primaryColor: #da4a05;
    --secondaryColor: #fe931e;
    --terciaryColor: #ffdb94;
    --cuaternaryColor: #e07a5f;
    --titleColor: #da4a05;
    --textColor: white;
}

.btn-outline {
    border-color: transparent;
    color: var(--textColor);
    background-color: var(--cuaternaryColor);
}

.btn-outline:hover {
    background-color: var(--primaryColor);
    color: var(--textColor);
    border-color: transparent;
}

.content {
    min-height: 100vh;
    width: 100%;
}

#side_nav {
    background-color: var(--primaryColor) !important;
    min-width: 250px;
    max-width: 250px;
}

hr.h-color {
    background: var(--cuaternaryColor) !important;
}

.sidebar li.active {
    background: var(--cuaternaryColor) !important;
    border-radius: 10px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
    color: var(--textColor) !important;
}

.sidebar li a {
    color: var(--textColor) !important;
}

.admin-logo {
    width: 100px;
    height: 100px;
}

.navbar-logo {
    width: 70px;
    height: 70px;
}

#show-title {
    color: var(--primaryColor);
    margin-left: 0.16em;
}

#admin-delete {
    color: var(--primaryColor);
    text-decoration: none;
}

#admin-delete:hover {
    color: var(--cuaternaryColor);
}

#admin-edit {
    color: var(--secondaryColor);
    text-decoration: none;
}

#admin-edit:hover {
    color: var(--terciaryColor);
}

#admin-show {
    color: black;
    text-decoration: none;
}

#admin-show:hover {
    color: gray;
}

.sub_div {
    position: absolute;
    bottom: 0px;
}