:root {
    --primaryColor: #da4a05;
    --secondaryColor: #fe931e;
    --terciaryColor: #ffdb94;
    --cuaternaryColor: #e07a5f;
    --titleColor: #da4a05;
    --textColor: white;
}

nav {
    font-weight: 700;
    font-size: 1.2rem;
}

.logo {
    width: 60px;
    height: 60px;
}

.bg-primary {
    background-color: var(--primaryColor) !important;
}

.copyright {
    background-color: var(--cuaternaryColor);
}

.bar {
    color: var(--primaryColor) !important;
}

.active-tab {
    color: var(--textColor) !important;
    background-color: var(--primaryColor) !important;
}

.btn-outline {
    border-color: var(--primaryColor);
    color: var(--textColor);
    background-color: var(--cuaternaryColor);
}

.btn-outline:hover {
    background-color: var(--primaryColor);
    color: var(--textColor);
}

.title {
    color: var(--primaryColor);
    font-weight: bold;
}

.col-1 {
    background-color: var(--cuaternaryColor);
}

.flex-column {
    background-color: var(--cuaternaryColor);
}

.admin-nav {
    height: 100% !important;
}

.content {
    min-height: 100vh;
    width: 100%;
}

#side_nav {
    background-color: var(--primaryColor) !important;
    min-width: 250px;
    max-width: 250px;
}

hr.h-color {
    background: var(--cuaternaryColor) !important;
}

.sidebar li.active {
    background: var(--cuaternaryColor) !important;
    border-radius: 10px;
}

.sidebar li.active a, .sidebar li.active a:hover {
    color: var(--textColor) !important;
}

.sidebar li a {
    color: var(--textColor) !important;
}

.admin-logo {
    width: 100px;
    height: 100px;
}

.navbar-logo {
    width: 70px;
    height: 70px;
}