#card-image {
    width: 700px;
    height: 600px;
}

#index-card-image {
    width: 100%;
    height: 200px;
}

.card-padding {
    padding-left: 2em;
    padding-bottom: 1.5em;
}

#show-price {
    font-size: 1.5rem;
    font-weight: 700;
}

#toy-information {
    border: none;
}

#card-title {
    color: var(--primaryColor);
    text-decoration: none;
}

#card-title:hover {
    color: var(--cuaternaryColor);
}

#card-price {
    color: var(--secondaryColor);
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
}

#index-card {
    width: 18rem;
}